.genreMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.genreHeader {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.HipHop,
.Classic {
  margin: 0.1rem;
  width: 7rem;
  height: 2.5rem;
}

.visible {
  width: 100px;
  height: 100px;
}
